.container {

    width: 100%;
    max-width: 960px;
    padding: 20px;
}

.main-image {

    margin: auto;
    padding: 20px 0px;
}

.footer {

    padding: 20px 0px;
    text-align: center;
}