.container {

    width: 100%;
    max-width: 960px;
    padding: 20px;
}

.main-image {

    margin: auto;
    padding: 20px 0px;
}

.form-control, .btn-default {

    margin-top: 20px;
}

.footer {

    text-align: center;
    font-size: 150%;
}